<div class="container">
  <!--Start code-->
  <div class="row">
    <div class="col-12 pb-5">
      <!--SECTION START-->
      <section class="row">
        <!--Start slider news-->
        <div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1">
          <div id="featured" class="carousel slide carousel" data-ride="carousel">
            <!--dots navigate-->
            <!--carousel inner-->
            <div class="carousel-inner">
              <!--Item slider-->
              <div class="carousel-item active">
                <div class="card border-0 rounded-0 text-light overflow zoom">
                  <div class="position-relative">
                    <!--thumbnail img-->
                    <a [routerLink]="['/store-woman']">
                      <div class="ratio_left-cover-1 image-wrapper" style="width: 535px; height: 456px">
                        <img class="img-fluid" style="width: 535px; height: 456px"
                             src="https://habrastorage.org/webt/wq/og/zx/wqogzxe17yoarcwcmmbjhlaopzc.png"
                             alt="Bootstrap news template">
                      </div>
                    </a>
                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                      <!--title-->
                      <div class="news-meta">

                        <a class="p-1 badge badge-primary rounded-0" style="background-color: #F93C00;" href="#">NEW</a>
                      </div>
                      <a href="#">
                        <h2 class="h3 post-title text-white my-1">Do-it-yourself comfort</h2>
                      </a>
                      <!-- meta title -->
                    </div>
                  </div>
                </div>
              </div>
              <!--end item slider-->
            </div>
            <!--end carousel inner-->
          </div>
        </div>
        <!--End slider news-->

        <!--Start box news-->
        <div class="col-12 col-md-6 pt-2 pl-md-1 mb-3 mb-lg-4">
          <div class="row">
            <!--news box-->
            <div class="col-6 pb-1 pt-0 pr-1">
              <div class="card border-0 rounded-0 text-white overflow zoom">
                <div class="position-relative">
                  <!--thumbnail img-->
                  <a [routerLink]="['/store-woman']">
                    <div class="ratio_right-cover-2 image-wrapper">
                      <a href="#">
                        <img class="img-fluid" style="height: auto; width: auto"
                             src="https://habrastorage.org/webt/ti/tg/8l/titg8lnqhp1-ocqffdhqrobua9i.jpeg"
                             alt="simple blog template bootstrap">
                      </a>
                    </div>
                  </a>
                  <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                    <!-- category -->
                    <a class="p-1 badge badge-primary rounded-0" style="background-color: #F93C00;" href="#">Lifestyle</a>

                    <!--title-->
                    <a href="#">
                      <h2 class="h5 text-white my-1">Should you see the Fantastic Beasts sequel?</h2>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!--news box-->
            <div class="col-6 pb-1 pl-1 pt-0">
              <div class="card border-0 rounded-0 text-white overflow zoom">
                <div class="position-relative">
                  <!--thumbnail img-->
                  <a [routerLink]="['/store-woman']">
                    <div class="ratio_right-cover-2 image-wrapper">
                      <a href="#">
                        <img class="img-fluid" style="height: auto; width: auto"
                             src="https://habrastorage.org/webt/ro/gr/mk/rogrmkwf6eos6kw3ks3f0lgiepm.jpeg"
                             alt="bootstrap templates for blog">
                      </a>
                    </div>
                  </a>
                  <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                    <!-- category -->
                    <a class="p-1 badge badge-primary rounded-0" style="background-color: #F93C00;" href="#">Backpacks</a>
                    <!--title-->
                    <a href="#">
                      <h6 class="text-white my-1">For sports, city and hiking</h6>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!--news box-->
            <div class="col pb-1 pl-1 pt-1" style="margin-left: 3%; margin-top: -1.5%">
              <h4 class="p-4 border-bottom" style="font-family: 'Acme', sans-serif; color: #F93C00">Discounts on all items until the end of the year! </h4>
            </div>
            <!--end news box-->
          </div>
        </div>
        <!--End box news-->
      </section>
      <!--END SECTION-->
    </div>
  </div>
  <!--end code-->
</div>

<div class="" style="margin-left: 5%; width:90% ">
  <h2 class="text-left p-3" style="font-family: 'Acme', sans-serif;">STORE</h2>
  <div class="row">
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-men']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/zo/rp/af/zorpaffappgnr2csjfcyp0yryqw.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/ym/61/t-/ym61t-7ixelveflv7u90kziu-by.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's backpack</a></h3>
          <div class="price text-center">$90.99</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-men']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/-f/uu/pj/-fuupjqkvewqdnx3iuk4b-rwlko.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/hq/ih/pp/hqihppcaxyrd8apgftwglgtjy6a.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's hat</a></h3>
          <div class="price text-center">$13.55</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-men']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/vc/nl/yy/vcnlyypiajxi_zvq2dwg3u2skci.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/sb/yz/hi/sbyzhis4_1m7yoz7j7-rks_bdpe.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's shirt</a></h3>
          <div class="price text-center">$30.99</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-men']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/h6/ps/0i/h6ps0idqsdncpqjdlsswjjnmbsm.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/iz/_h/nv/iz_hnv1mvi43wf_zphfnopxy5u0.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's jacket</a></h3>
          <div class="price text-center">$20.50</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-men']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/b1/zl/lf/b1zllfggljf6d-ddhkp4wccht_c.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/qa/sb/am/qasbamkt71lqz67kxsxt_j4bffe.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's shoe</a></h3>
          <div class="price text-center">$55.99</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---------------------------
          Second line
---------------------------->
<div class="mt-3" style="margin-left: 5%; width:90% ">
  <div class="row">
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-woman']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/ti/tg/8l/titg8lnqhp1-ocqffdhqrobua9i.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/hz/mp/hi/hzmphidhtku9pkqnkubzfokehag.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's wear</a></h3>
          <div class="price text-center">$23.99</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-woman']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/we/xv/qw/wexvqwi4422x_d67tvwgxjyanz4.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/60/j7/ii/60j7iicgdn3gypmlf6l8oaw_et4.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's shoes</a></h3>
          <div class="price text-center">$13.55</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-woman']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/tr/ak/ap/trakapolalzgzau6l_wnnkwkugk.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/f-/dt/md/f-dtmdvcf4pz_bzni4y2fiwuwgy.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's hoodie</a></h3>
          <div class="price text-center">$18.99</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-woman']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/ho/yt/ex/hoytex4t5jv20fke0vwqslxtku4.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/fi/bj/mc/fibjmcf5ckui5cj8cahtwna5qba.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's jeans</a></h3>
          <div class="price text-center">$80.50</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-woman']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/rd/xc/mo/rdxcmo8cwwicu8srddbjtvdugfq.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/-m/6a/ai/-m6aaifttz7eybyqjcwgpuccz4o.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's costume</a></h3>
          <div class="price text-center">$30.99</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---------------------------
          Third line
---------------------------->
<div class="mt-3" style="margin-left: 5%; width:90% ">
  <div class="row">
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-woman']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/qi/e_/0b/qie_0bqmxqbrsgr9igbmoqkjbuc.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/w9/lp/h-/w9lph-_krltsboniruy74yh-1va.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's costume</a></h3>
          <div class="price text-center">$23.99</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-woman']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/vt/ul/l9/vtull9ogx11k445xobw61ehyymg.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/yo/lc/ag/yolcagatzqohcyxzgrxnj6okcig.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's socks</a></h3>
          <div class="price text-center">$13.55</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-woman']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/qq/zg/bw/qqzgbwhngcyklu4f2iksmpp_yju.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/31/bd/yj/31bdyjfxmsqqbj0nkvmis5mgcwy.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's sport wear</a></h3>
          <div class="price text-center">$18.99</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-woman']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/qa/ao/wv/qaaowvqt2nl98wlrdtmu-l72xro.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/9p/j5/3p/9pj53p8izcoflfbpxt_tz2pmv6g.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's jacket</a></h3>
          <div class="price text-center">$80.50</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-woman']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/lv/20/ef/lv20efix2z3oh173yi_p1jaykui.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/s1/rx/tp/s1rxtptpdczcsalzpsmxtabwffy.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's shoes</a></h3>
          <div class="price text-center">$30.99</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---------------------------
          Fourth line
---------------------------->
<div class="mt-3" style="margin-left: 5%; width:90% ">
  <div class="row">
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-woman']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/cf/vi/xn/cfvixn7kjeu-rhpjee9vox3d7c8.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/px/ub/dx/pxubdx8xwnedgqj2mmp_jh_bghg.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's jacket</a></h3>
          <div class="price text-center">$23.99</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-woman']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/na/ok/vg/naokvg_wevzohsgwy54bazgxrdy.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/g-/5a/dz/g-5adzfgn5fkpbdmffs5al8vr7c.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's costume</a></h3>
          <div class="price text-center">$13.55</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-woman']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/mg/zr/ol/mgzrols3ypz6hqrom-qn7hrs_9u.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/6q/50/jm/6q50jmxuo9kalhxzwpbnc1bqabi.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's jeans</a></h3>
          <div class="price text-center">$18.99</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-woman']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/ja/7q/qw/ja7qqwujzjsqdumzrqlet-bf5-k.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/yc/4k/cf/yc4kcfskqmkoxj1htbsasq-zmnw.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's shoes</a></h3>
          <div class="price text-center">$80.50</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="product-grid5">
        <div class="product-image5">
          <a [routerLink]="['/store-woman']">
            <img class="pic-1" style="height: 317px" src="https://habrastorage.org/webt/hf/ow/tc/hfowtck1cxe_cjb6ztwvbgdpsp0.jpeg">
            <img class="pic-2" src="https://habrastorage.org/webt/pi/yp/jv/piypjv4cagz_lhbdmtvrh9wpg4i.jpeg">
          </a>
          <ul class="social">
            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
        </div>
        <div class="product-content">
          <h3 class="title text-center"><a href="#">Men's sock</a></h3>
          <div class="price text-center">$30.99</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-right: 5%" class="store-filter clearfix">
  <ul class="store-pagination">
    <li class="active">1</li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
  </ul>
</div>
