<form>
  <h4>Adding in: {{date | date}}</h4>
  <div class="form-group">
    <label for="exampleFormControlInput1">Clothes name</label>
    <input type="email" class="form-control" id="" placeholder=" ">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Price</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="$">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1: Women's clothes</option>
      <option>2: Men's clothes</option>
      <option>3: Kids clothes</option>
      <option>4: Editing</option>
      <option>5: Discounts</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Photo of clothes</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <button style="width: 130px" class="btn btn-dark">Add</button>
</form>
